.photo-container {
  text-align: center;
  padding-top: 100px;

}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0.7;
}

.profile-photo:hover {
  opacity: 1;
}


.icons {
  font-size: 20px;
  text-align: center;
}

.fa-linkedin {
  color: #0677B4;
  padding-left: 5px;
  padding-right: 5px;
}

.fa-twitter {
  color: #1DA1F2;
  padding-left: 5px;
  padding-right: 5px;
}

.fa-medium {
  color: #14C767;
  padding-left: 5px;
  padding-right: 5px;
}

.fa-500px {
  color: #00A4DB;
  padding-left: 5px;
  padding-right: 5px;
}

.fa-times {
  color: #272822; 
}




/* Important styles */
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: relative;
  color: #999;
  width: 200px;
  padding: 10px;
  margin: auto;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}
#menu:after {
  position: absolute;
  top: -15px;
  left: 85px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
li a:hover,
li a:focus {
  background: #1ABC9C;
  color: #FFFFFF;
  text-decoration: none;
}

.modal-title {
  margin: 0 auto;
  text-align: center;
  padding: 20px 20px 10px 20px;
}

.modal-p {
  margin: 0;
  text-align: center;
  padding: 0px 20px 20px 20px;
}

/* demo styles */
body { margin-top: 3em; background: #eee; color: #555; font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif; }
p, p a { font-size: 12px;text-align: center; color: #888; }